
$color-paleta:black;
$color-footer: rgb(122, 181, 236);
$color-titulo-paleta:rgb(243, 240, 240);
$ofertas-color-fondo:rgba(110, 240, 110, 0.5);
$oferta-titulo-color:black;









body {
    font-family: sans-serif;
    background-image: url(https://okdiario.com/img/vida-sana/2015/04/padel2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  
  #menu {
    font-size: 18px;
    font-weight: bold;
  }
  
  h1 {
    color: aliceblue;
  }
  
  #paletas {
    background-image: none;
  }
  
  #inicio {
    font-size: 4vw; 
  }
  
  #titulo-paletas {
    font-size: 4vw;
    color: $color-titulo-paleta;
    background-color:$color-paleta;
    margin: 0%;
    text-align: center;
  }
  
  .carousel-inner {
    max-width: 40vw; 
    margin: 0 auto;
    
    
  }
  
  footer {
    background-color: $color-footer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
  
  .logos {
    width: 4vw; 
    height: 4vw;
  }
  
  
  @media (max-width: 768px) {
    #inicio {
      font-size: 6vw;
    }
  
    #titulo-paletas {
      font-size: 6vw;
    }
  
    .carousel-inner {
      max-width: 90vw;
    }
  
    .logos {
      width: 6vw;
      height: 6vw;
    }
  }
  
  @media (max-width: 576px) {
    #inicio {
      font-size: 8vw;
    }
  
    #titulo-paletas {
      font-size: 8vw;
    }
  
    .carousel-inner {
      max-width: 90vw;
    }
  
    .logos {
      width: 8vw;
      height: 8vw;
    }
  }

  @media (max-width: 768px) {
    #inicio {
      font-size: 6vw;
    }
  
    #titulo-paletas {
      font-size: 6vw;
    }
  
    .carousel-inner {
      max-width: 90vw;
    }
  
    .logos {
      width: 6vw;
      height: 6vw;
    }
  }
  
  @media (max-width: 576px) {
    #inicio {
      font-size: 8vw;
    }
  
    #titulo-paletas {
      font-size: 8vw;
    }
  
    .carousel-inner {
      max-width: 90vw;
    }
  
    .logos {
      width: 8vw;
      height: 8vw;
    }
  }

#ofertas
{
    background-color:$ofertas-color-fondo;
    color: $color-titulo-paleta;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    position: absolute;
    left: 0%;
  
    
}

.grid-layout {
  background-color: rgb(255, 255, 255);
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.ventas {
  height: 250px;
  line-height: 100px;
  text-align: end;
  align-items: center;
}

.ventas2, .ventas3, .ventas4, .ventas5, .ventas6 {
  height: 250px;
  line-height: 100px;
  text-align: end;
  align-items: center;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .grid-layout {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    padding: 10px;
  }
  
  .ventas, .ventas2, .ventas3, .ventas4, .ventas5, .ventas6 {
    height: 200px;
    line-height: 80px;
  }
  
  .ventas, .ventas3, .ventas4, .ventas6 {
    margin: 5px;
  }
}



  
.precios {
  text-align: center;
  background-color: rgb(91, 218, 148);
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  
  .precios {
    padding: 5px;
    font-size: 0.8em;
  }
}


.novedades
{
  background-color: $ofertas-color-fondo;
  border-radius: 10px;
  color:$color-titulo-paleta;
  text-align: center;
  text-decoration: solid;
}
